##############################
## Maven
##############################
/target/
/target/*
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

##############################
## Eclipse
##############################
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib