
# Spring Configuration
server: 
  port: 8080
  servlet:
    context-path:  ${BILLING_PREFIX:/}

# Scheduling Task Configuration  
scheduling:
  cron: ${SCHEDULING_CRON_JOB_TASK:0 0 */3 * * ?}

# Billing - pay per use delayed days
billing_pay_per_use:
  delayed_days: ${PAY_PER_USE_DELATED_DAYS:2}

# Logging Configuration
logging:
#  file:
#    name: application.log
  level:
    it.eng.dome: ${LOG_LEVEL:DEBUG}
    org.apache.coyote.http11: ERROR
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%-5level] %logger{36} - %msg%n" 
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"

# Spring Boot Actuator
management:
  server:
    port: 9000
  endpoints:
    enabled-by-default: false
    web:
      exposure:
        include: "*"
      base-path: /
      path-mapping:
        health: health
  endpoint:
    health:
      enabled: true
      show-details: never
  health:
    probes:
      enabled: true	

# Billing Service
billing:
  billing_proxy: ${BILLING_PROXY:http://localhost:8280}

# BillCycle
billCycle:
  billCycleSpec_enabled: ${BILLCYCLESPEC_ENABLED:false}

# TMForum Endpoints
tmforumapi:
  tmf_endpoint: ${TMF_ENDPOINT:http://tm-forum-api}
  
  # tmf_envoy = false => use specific path for any tmforum software | tmf_envoy = true => use TMF_ENDPOINT as unique path (proxy) 
  tmf_envoy:  ${TMF_ENVOY:true}
  
  # TMF_ENVOY=false - valid only if envoy false
  tmf_namespace:  ${TMF_NAMESPACE:marketplace}
  tmf_postfix:  ${TMF_POSTFIX:svc.cluster.local}
  tmf_port:  ${TMF_PORT:8080}
   
  # TMF_ENVOY=true - internal paths used with envoy = true
  tmf620_catalog_path: tmf-api/productCatalogManagement/v4
  tmf637_inventory_path: tmf-api/productInventory/v4
  tmf678_billing_path: tmf-api/customerBillManagement/v4

# Persistence configurations
persistence:
  monthsBack: ${MONTHS_BACK:2}

# BillingProxy Service
billingProxy:
  billingProxyService: ${BILLINGPROXY_SERVICE:http://localhost:8280}